.social {
  display: block;
  img {
    width: 20px;
    height: 20px;
  }
  a {
    padding: 10px;
    display: inline-block;
    &:hover {
      opacity: 0.8;
    }
  }
}

.float{
	position:fixed;
	width:80px;
	height:80px;
	bottom:40px;
	right:15px;
	background-color:#00b5f9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

a.float:hover{
  text-decoration:none;
  background-color:#00b5f9;
  color:#FFF;
}
